<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../global/globals.css" />
  <link rel="stylesheet" href="../global/styleguide.css" />
  <link rel="stylesheet" href="../global/app.css" />
  <link rel="stylesheet" href="style.css" />

  <title>Games - OpenVoxel Launcher</title>
  <script src="../localstorage.js"></script>
</head>

<body>
  <div class="games">
    <div class="div">
      <%- include('../components/header') %>
      
      <div class="game-list">
        <div class="row-1">
          <a href="../home/index.ejs?game=oakhousemurder">
            <div class="rightgame">
              <div class="overlap-group-2">
                <img class="img roundgame" src="../global/img/games/oakhousemurder-bg.png" />
                <div class="text-wrapper-2">OAK HOUSE MURDER</div>
                <div class="div-wrapper">
                  <div class="popular">RECENT</div>
                </div>
              </div>
            </div>
          </a>
          <a href="../home/index.ejs?game=lethalbudget">
            <div class="leftgame">
              <div class="overlap-group-2">
                <img class="img roundgame" src="../global/img/games/lethalbudget-bg.png" style="border-radius: 10px;" />
                <div class="text-wrapper-2">LETHAL BUDGET</div>
                <div class="div-wrapper">
                  <div class="new">NEW</div>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="row-2">
          <div class="soon">
            <div class="overlap-group">
              <img class="rectangle" src="../global/img/games/soon-bg.png" />
              <div class="text-wrapper">SOON!</div>
            </div>
          </div>
          <a href="../home/index.ejs?game=yahiamice">
            <div class="leftgame">
              <div class="overlap-group-2">
                <img class="img roundgame" src="../global/img/games/yahiamice-bg.png" />
                <div class="text-wrapper-2">YAHAMICE’S ESCAPE ROOM</div>
                <div class="div-wrapper">
                  <div class="popular">BROKEN</div>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="row-3">
          <div class="overlap-wrapper">
            <div class="overlap-group">
              <img class="rectangle" src="../global/img/games/soon-bg.png" />
              <div class="text-wrapper">SOON!</div>
            </div>
          </div>

          <a href="../home/index.ejs?game=vanilla">
            <div class="rightgame">
              <div class="overlap-group-2">
                <img class="img roundgame" src="../global/img/games/vanilla-bg.png" />
                <div class="text-wrapper-2">MINECRAFT..?</div>
              </div>
            </div>
          </a>
        </div>

        <div class="overlap-group-wrapper">
          <div class="overlap">
            <p class="text">OUR COOL GAMES! - CLICK TO PLAY</p>
          </div>
        </div>
      </div>
      
      <%- include('../components/sidebar', { page: 'games' }) %>
    </div>
  </div>

  <script src="../allpages.js"></script>
</body>

</html>