<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../global/globals.css" />
  <link rel="stylesheet" href="../global/styleguide.css" />
  <link rel="stylesheet" href="style.css" />

  <title>OpenVoxel Launcher</title>
</head>

<body>
  <div class="login">
    <div class="div">
      <div class="body">
        <a id="LOGIN" data-enabled="true" style="cursor: pointer;">
          <div class="login-BTN">
            <div class="overlap-group">
              <div class="text" id="LOGINTEXT">Sign In</div>
            </div>
          </div>
        </a>
        <div class="overlap-wrapper">
          <div class="overlap">
            <p class="description">
              You need to login to be able to connect and play Minecraft with our Launcher.<br />Your login is ONLY
              stored on YOUR computer.
            </p>
            <div class="title">Login to continue</div>
          </div>
        </div>
      </div>
      <header class="full-header header">
        <div class="overlap-2">
          <div class="text-wrapper">OpenVoxel Launcher</div>
          <div class=""><img class="img" src="../global/img/logo.png" /></div>
          <div class="buttons-close clickable pointer CLOSEAPP">
            <img class="union clickable" src="../global/img/union.svg" />
          </div>
        </div>
      </header>
    </div>
  </div>
  <script src="../allpages.js"></script>
</body>

</html>