<div class="full-header">
  <header class="header">
    <div class="buttons-close clickable pointer CLOSEAPP">
      <img class="union clickable" src="../global/img/union.svg" />
    </div>

    <img class="OPENURLDEFAULTBROWSER clickable pointer buttons-discord" data-url="https://discord.gg/PZTx9Tt7De"
      src="../global/img/icons/discord.png" />

    <div class="loggedin-player">
      <img id="GETSKIN3D" src="<%= playerSkin %>" />
      <div class="overlap-group-3">
        <div class="loginas">Logged in as</div>
        <div class="loginusername" id="GETUSERNAME2">
          <%= playerName %>
        </div>
      </div>
    </div>
    <div class="games-header">
      <div class="headeroverlap">
        <div class="header-icons"></div>
        <div class="header-text-wrapper">Games</div>
      </div>
      <div class="header-separator">
        <div class="rectangle-separator"></div>
      </div>
      <div class="header-game-list">
        <div class="gameicons-oakhousemurder" data-game="oakhousemurder"></div>
        <!--<div class="gameicons-blockhunt" data-game="blockhunt"></div>-->
        <div class="gameicons-lethalbudget" data-game="lethalbudget"></div>
        <div class="gameicons-yahiamice" data-game="yahiamice"></div>
      </div>
    </div>
  </header>
  <div class="logo"></div>
</div>

<audio id="S3DAUDIO" src="../global/img/S3D.mp3" style="visibility: hidden;"></audio>